// SIDEBAR MENU
$sidebar-menu-background-color: var(--sidebar-bg);
$sidebar-menu-color: var(--sidebar-text);

$sidebar-divider-color: var(--sidebar-divider);

$sidebar-menu-logo-wrapper-height: 56px;
$sidebar-menu-logo-wrapper-padding: 12px;
$sidebar-menu-logo-wrapper-divider: 1px solid $sidebar-divider-color;
$sidebar-menu-collapsed-logo-width: 50px;
$sidebar-menu-uncollapsed-logo-width: 116px;
$sidebar-menu-logo-height: 22px;

// SIDEBAR GROUP
$sidebar-menu-group-first-top-padding: 8px;
$sidebar-menu-group-padding-y: 4px;
$sidebar-menu-group-padding-x: 6px;
$sidebar-menu-group-title-bottom-offset: 8px;

// SIDEBAR ITEM
$sidebar-menu-item-border-radius: 6px;
$sidebar-menu-item-height: 36px;

$sidebar-menu-item-padding: 8px 10px;
$sidebar-menu-item-padding-bottom: 2px;
$sidebar-menu-item-text-and-icon-gap: 10px;

$sidebar-menu-item-text-size: 13px;
$sidebar-menu-item-font-weight: 500;
$sidebar-menu-item-line-height: 20px;
$sidebar-color-text: $sidebar-menu-color;

$sidebar-menu-item-color-hover-bg: var(--sidebar-hover-bg);
$sidebar-menu-item-color-selected-bg: var(--sidebar-active-bg);

$sidebar-menu-item-icon-color: currentColor;
$sidebar-menu-item-selected-icon-color: #fff;
$sidebar-menu-item-icon-size: 18px;

$sidebar-transition-duration: 0.2s;
$sidebar-menu-item-color-active-text: #fff;

$sidebar-menu-item-tooltip-bg: $sidebar-menu-item-color-hover-bg;
$sidebar-menu-item-tooltip-text-color: #fff;
$sidebar-menu-item-tooltip-font-size: 13px;
$sidebar-menu-item-tooltip-font-weight: 500;

// SIDEBAR SUBMENU
$sidebar-submenu-title-padding-bottom: $sidebar-menu-item-padding-bottom;

$sidebar-submenu-bg-color: rgba(0, 0, 0, 0.15);
$sidebar-submenu-uncollapsed-bg-color: transparent;
$sidebar-submenu-color-active-text: $sidebar-menu-item-color-active-text;

$sidebar-submenu-items-count-font-size: 12px;
$sidebar-submenu-items-count-bg: rgba(255, 255, 255, 0.1);
$sidebar-submenu-items-count-text-color: var(--sidebar-text);
$sidebar-submenu-items-count-padding: 2.5px 4px;

$sidebar-submenu-collapse-transition-time: 0.15s;
