$black: #000;
$white: #FFF;

$primary-click: #081B76;
$primary-normal: #1C43FF;
$primary-active: #0a2ac4;
$primary-clarity-20: #002bff;
$primary-light: #f4f6ff;

$danger-normal: #F8285A;
$danger-active: #d81a48;
$danger-clarity-20: #f8285a;
$danger-light: #ffeef3;

$success-normal: #17c653;
$success-active: #04b440;
$success-clarity-20: #17c653;
$success-light: #eafff1;

$warning-normal: #f68700;
$warning-active: #df5d00;
$warning-clarity-20: #F6870033;
$warning-light: #FFF1DD;

$info-normal: #BDF10F;
$info-active: #D2FF40;
$info-clarity-20: #BDF10F33;
$info-light: #FBFFEF;

$gray-100: #F9F9F9;
$gray-200: #F1F1F4;
$gray-300: #DBDFE9;
$gray-400: #C4CADA;
$gray-500: #99A1B7;
$gray-600: #78829D;
$gray-700: #4B5675;
$gray-800: #252F4A;
$gray-900: #090E1C;

$light-active: #F9F9F9;
$light-clarity-20: rgba(255, 255, 255, 0.2)