@use 'colors' as colors;
@use 'offsets' as offsets;
@use 'fonts' as fonts;

html,
body {
  height: 100%;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: fonts.$font1;
  font-weight: 400;
  color: colors.$gray-800;
  font-size: 1.19403%;
  overflow-x: hidden;
  width: calc(100vw - (100vw - 100%));
  min-width: 360px;
}

.main {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
  background-color: colors.$gray-100;
}

#__nuxt {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  max-width: calc(1000px + (offsets.$offset-24 * 2));
  margin: 0 auto;
  padding: offsets.$offset-24;
  min-height: 100%;
}

.list-reset {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tox-notifications-container {
  display: none !important;
  opacity: 0 !important;
  user-select: none !important;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}