@use '../base/offsets' as offsets;
@use '../base/colors' as colors;

.gray-rounded-block {
  background-color: colors.$gray-100;
  border-radius: 12px;
  padding: offsets.$offset-32;
  border: 1px solid colors.$gray-200;
}

.white-rounded-block {
  background-color: colors.$white;
  border-radius: 12px;
  padding: offsets.$offset-32;
  border: 1px solid colors.$gray-200;
}