@use '../base/colors' as colors;

@mixin headline-1 {
  font-size: 48px;
  font-weight: 700;

  @media screen and (max-width: 576px) {
    font-size: 24px;
    font-weight: 600;
  }
}

@mixin headline-2 {
  font-size: 36px;
  font-weight: 700;
}

@mixin headline-3 {
  font-size: 24px;
  font-weight: 700;
}

@mixin text-18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

@mixin text-14 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-12 {
  font-size: 12px;
  font-weight: 600;
}
